*{
    font-size: 1rem;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    padding: unset;
    margin:  unset;



    box-sizing: border-box;

    list-style: none;
    text-decoration: none;


}
/* flexbox */


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;

}
h2 {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/fondo\ jumboton\ ejesdesign.jpg");
    background-size: cover;
    background-position: center;

}

.jumbotron h1 {
    font-size: 56px;
    padding: 12px 32px;
    color: #ffffff;
    font-weight: 700;
    font-family: "inter";

}

button {
    display: flex;
    background-color: #1a1a1a;
    font-size: 16px;
    color: #ffffff;
    border-radius: 0px;
    padding: 10px 38px 10px 38px;

}

.tarjetas {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding:30px 30px 30px 30px;
    background-color: #F5F5F5;  
    overflow: hidden;
}

.tarjetas-caja{

}

.imagentarjeta{
    width: 100%;
}

.textotarjetas{
    padding: 30px 30px 30px 30px;
}


.botontarjeta{
    width: 100%;
    justify-content: center;

}

.sobrenosotros{
    display: flex;
    justify-content: space-between;

}